*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #bfbfbf url("./images/background.jpg") repeat-x;
}

header{
    padding: 40px 0;
}

header h1{
    size: 45px;
    text-align: center;
    color: white;
    text-shadow: black 10px 10px 10px;
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
}

section{
    padding-top: 134.5px;
    display: flex;
    justify-content: center;
}

.bw{
    width: 140px;
    height: 500px;
    cursor: pointer;
    background-image:url("./images/bw-image.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 70%;
    position: absolute;
    left: 0;
}

.color{
    width: 140px;
    height: 500px;
    cursor: pointer;
    background-image:url("./images/color-image.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 140px;
}

#part2 div{
    background-position: -140px 0;
}

#part3 div{
    background-position: -280px 0;
}

#part4 div{
    background-position: -420px 0;
}

#part5 div{
    background-position: -560px 0;
}

.description{
    width: 250px;
    height: 500px;
    padding: 20px;
    background-color: white;
    position: absolute;
    left: 140px;
}

.description h2{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.description h3{
    padding: 10px;
    margin-top: 30px;
    font-size: 30px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
}

.description p{
    margin-top: 40px;
    font-size: 25px;
    background-color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#main-menu ul li{
    float: left;
    width: 140px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

div.description p{
    cursor: pointer;
}

#playerContainer{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 5%;
    background: linear-gradient(transparent, #4D4C61, #4D4C61, transparent);
    color: #fff;
    animation: 1s slide-in;
}

#playerContainer *{
    margin: 10px;
}

#playerContainer button{
    cursor: pointer;
}

#playerContainer.hide{
    animation: 1s slide-out;
}

@keyframes slide-in {
    from {
        height: 0;
    }
    to {
        height: 100px;
    }
}

@keyframes slide-out {
    from {
        height: 100px;
    }
    to {
        height: 0;
    }
}

#playerPlay {
    width: 32px;
    height: 32px;
    display: none;
    background-image: url("./player/play.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#playerPause {
    width: 32px;
    height: 32px;
    background-image: url("./player/pause.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#playerStop {
    width: 32px;
    height: 32px;
    background-image: url("./player/stop.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#timeline {
    width: 60%;
}

#Volume{
    position: relative;
}

#change_vol {
    -webkit-appearance: none;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    height: 10px;
    width: 60px;
    position: absolute;
    margin-bottom: 25px;
    bottom: 10px;
    left: -25px;
	cursor: pointer;
	border-radius: 5px;
    background: linear-gradient(0.25turn, #2A35AD, #5EF7F2);
}

/* Change-vol Chrome */
#change_vol::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 3px #a6a6a6;
    height: 15px;
    width: 15px;
    border-radius:50%;
    background: transparent;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

#change_vol::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

/* Change-vol Firefox */
#change_vol::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
	border-width: 3px;
	border-color: #a6a6a6;
    background: transparent;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

#change_vol::-moz-range-track{
    box-shadow: none;
    border: none;
    background: transparent;
}
#box_vol{
    height: 80px;
    width: 30px;
    display: none;
    position: absolute;
    margin-bottom: 25px;
    background: #1A1A1A;
    bottom: 25px;
    left: 0;
    border-radius: 15px;
}

#box_vol::after{
    position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    background: linear-gradient(#5B31B5, #2CA1B0);
    content: '';
    z-index: -1;
    border-radius: 15px;
}

#playerVolume {
    width: 32px;
    background-image: url("./player/volume.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 32px;
}

#Volume:hover #box_vol {
    display: inline-flex;
    animation: 0.2s slide_box;
}

#Volume:hover #change_vol {
    animation: 0.2s slide_vol;
}

@keyframes slide_box {
    from {
        height: 0;
    }
    to {
        height: 80px;
    }
}

@keyframes slide_vol {
    from {
        width: 0;
		left: 2px;
		bottom: -30px;
    }
    to {
        width: 60px;
		left: -25px;
		bottom: 10px;
    }
}

#timeline{
    -webkit-appearance: none;
    border-radius: 6px;
    background-size: 100%;
    background: linear-gradient(#5830B0, #2C9EB0) no-repeat;
}

#time{
    display: inline;
}
/* Slider custom pour Chromium */
#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 3px #a6a6a6;
    height: 19px;
    width: 19px;
    border-radius: 70%;
    background: #404040;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

#timeline::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

/* Slider custom pour Firefox */
#timeline::-moz-range-thumb {
    height: 11px;
    width: 11px;
	border-width: 3px;
    border-radius: 70%;
    background: #404040;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

#timeline::-moz-range-track{
    box-shadow: none;
    border: none;
    background: transparent;
}

#upgrades{
    position: absolute;
    float: left;
    padding: 20px;
    margin: 0 0 0 10%;
    color: white;
    text-shadow: black 0 0 15px;
    background-color: #7925a1;
    border-radius: 15px;
	cursor: pointer;
}

#listeUpgrades{
	float: left;
	position: absolute;	  
	display: none;					
}

#listeUpgrades li {
	color: white;
	font-size: 22px;		 
}

#musicArtist{
    text-transform: uppercase;
    font-size: 22px;
}

#musicName{
    font-size: 18px;
}

#albumImg{
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
}