*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #bfbfbf url("./images/background.jpg") repeat-x;
}

header{
    padding: 40px 0;
}

header h1{
    size: 45px;
    text-align: center;
    color: white;
    text-shadow: black 10px 10px 10px;
    text-transform: uppercase;
    font-family: 'Limelight', cursive;
}

section{
    padding-top: 134.5px;
    display: flex;
    justify-content: center;
}

.bw{
    width: 140px;
    height: 500px;
    cursor: pointer;
    background-image:url("./images/bw-image.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 70%;
    position: absolute;
    left: 0;
}

.color{
    width: 140px;
    height: 500px;
    cursor: pointer;
    background-image:url("./images/color-image.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    left: 140px;
}

#part2 div{
    background-position: -140px 0;
}

#part3 div{
    background-position: -280px 0;
}

#part4 div{
    background-position: -420px 0;
}

#part5 div{
    background-position: -560px 0;
}

.description{
    width: 250px;
    height: 500px;
    padding: 20px;
    background-color: white;
    position: absolute;
    left: 140px;
}

.description h2{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.description h3{
    padding: 10px;
    margin-top: 30px;
    font-size: 30px;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 20px;
    font-family: 'Lobster', cursive;
}

.description p{
    margin-top: 40px;
    font-size: 25px;
    background-color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
}

#main-menu ul li{
    float: left;
    width: 140px;
    height: 500px;
    overflow: hidden;
    position: relative;
}

div.description p{
    cursor: pointer;
}

#playerContainer{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: 5%;
    background: #807373;
    color: #fff;
    animation: 1s slide-in;
}

#playerContainer.hide{
    animation: 1s slide-out;
}

@keyframes slide-in {
    from {
        height: 0;
    }
    to {
        height: 100px;
    }
}

@keyframes slide-out {
    from {
        height: 100px;
    }
    to {
        height: 0;
    }
}

#playerContainer *{
    margin: 10px;
}

#playerContainer button{
    cursor: pointer;
}

#playerPlay {
    width: 32px;
    height: 32px;
    display: none;
    background-image: url("./player/play.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#playerPause {
    width: 32px;
    height: 32px;
    background-image: url("./player/pause.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#playerStop {
    width: 32px;
    height: 32px;
    background-image: url("./player/stop.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}

#timeline {
    width: 60%;
}

#Volume{
    position: relative;
}

#change_vol {
    -webkit-appearance: slider-vertical;
    height: 60px;
    width: 10px;
    position: absolute;
    margin-bottom: 25px;
    bottom: -15px;
    left: 0;
    background: linear-gradient(to right, rgb(0, 168, 255) 0%, rgb(0, 168, 255) 100%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
}

#change_vol::-webkit-slider-thumb{
    cursor: pointer;
}

#box_vol{
    height: 80px;
    width: 30px;
    display: none;
    position: absolute;
    margin-bottom: 25px;
    background: #396073;
    bottom: 25px;
    left: 0;
    border-radius: 15px;
    opacity: 0.9;
    border: BLUE 1px solid;
}

#playerVolume {
    width: 32px;
    background-image: url("./player/volume.png");
    background-size: 32px 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 32px;
}

#Volume:hover #box_vol {
    display: inline-flex;
    animation: 0.2s slide_box;
}

#Volume:hover #change_vol {
    animation: 0.2s slide_vol;
}

@keyframes slide_box {
    from {
        height: 0;
    }
    to {
        height: 80px;
    }
}

@keyframes slide_vol {
    from {
        height: 0;
    }
    to {
        height: 60px;
    }
}

#timeline{
    -webkit-appearance: none;
    -moz-appearance: none;
}

#timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}

#timeline::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#upgrades{
    position: absolute;
    float: left;
    padding: 20px;
    margin: 0 0 0 10%;
    color: white;
    text-shadow: black 0 0 15px;
    background-color: #7925a1;
    border-radius: 15px;
}

#time{
    display: inline;
}

#MusicID{
    position: absolute;
    right: 0;
    text-align: right;
    margin: 0;
    border: none;
    align-items: normal;
    justify-content: normal;
}

#Title,#Artist{
    position: relative;
    right: 100px;
    margin: 0;
    border: none;
}

/*justify-content: center;
align-items: center;
text-align: center;*/

#Title{
    font-size: 20px;
}

#Artist{
    font-size: 16px;
}

#Cover{
    display: inline-block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    margin: 0;
    border: none;
}